.about-me {
  display: flex;
  flex-direction: column;
  padding: 101px 70px 125px;
  color: #fff;
  background-color: #202020;


  @media screen and (max-width: 769px) {
    padding: 90px 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 70px 14px;
  }

  &__title {
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #fff; 
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
  }

  &__container {
    padding-top: 66px;
    display: grid;
    grid-template: repeat(4, min-content) / minmax(160px, 600px) minmax(min-content, 270px);
    grid-template-areas: 'name photo' 'subtitle photo' 'text photo' 'link photo';
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      margin: 0 auto;
      padding-top: 66px;
      grid-template: repeat(4, min-content) / min-content;
      grid-template-areas: 'photo' 'name' 'subtitle' 'text' 'link';
    }
  }

  &__name {
    margin: 0;
    grid-area: name;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;


    @media screen and (max-width: 769px) {
      font-size: 40px;
      line-height: 40px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 40px;
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__text {
    margin: 0;
    grid-area: text;
    min-height: 108px;
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;

    @media screen and (max-width: 1060px) {
      min-height: 196px;
      max-width: 364px;
      font-size: 12px;
      line-height: 18px;
    }

    @media screen and (max-width: 767px) {
      line-height: 16px;
      min-height: 0;
    }

    &_for_subtitle {
      margin: 18px 0 26px;
      grid-area: subtitle;
      min-height: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;

      @media screen and (max-width: 769px) {
        margin: 16px 0 20px;
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and (max-width: 767px) {
        margin: 20px 0;
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

  &__photo {
    grid-area: photo;
    max-width: 270px;
    max-height: 327px;
    background-image: url('../../images/student.png');
    background-size: cover;
    border-radius: 10px;

    @media screen and (max-width: 769px) {
      min-width: 255px;
      min-height: 307px;
    }
  }

  &__link {
    display: flex;
    grid-area: link;
    align-items: flex-end;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: 0.5s;

    @media screen and (max-width: 769px) {
      margin-top: 21px;
    }

    &:hover {
      opacity: 0.7;
      transition: 0.5s;
    }
  }
}
