.saved-movies {
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  margin: 0 70px;

  @media screen and(max-width: 769px) {
    padding: 0 30px 167px;
    margin: 0;
  }

  @media screen and(max-width: 767px) {
    padding: 0 0 239px;
    margin: 0;
  }
}
