.search-form {
  padding: 69px 0 39px;
  display: grid;
  grid-template: repeat(2, min-content) / calc(100% - 70px);
  grid-template-areas: 'input submit' 'checkbox checkbox';
  gap: 31px 0;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  z-index: 1;

  @media screen and(max-width: 767px) {
    margin: 0 14px;
    padding: 69px 0 43px;
    gap: 44px 0;
  }

  &__input {
    padding: 0 0 0 22px;
    grid-area: input;
    background-color: #202020;
    color: #fff;
    border: 1.5px solid rgba(170, 170, 170, .2);
    border-radius: 50px;
    font-size: 14px;
    line-height: 18px;
    min-height: 48px;

    @media screen and(max-width: 767px) {
      padding: 0 0 0 16px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__submit {
    padding: 0;
    min-width: 34px;
    min-height: 34px;
    cursor: pointer;
    grid-area: submit;
    border: none;
    color: #fff;
    background-color: #202020;
    transition: .5s;
    background-image: url(../../images/find.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    &:hover {
      opacity: .8;
      transition: .5s;
    }
  }

  &__label {
    z-index: -1;
    min-height: 20px;
    min-width: 156px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: center;
    grid-area: checkbox;
    position: relative;

    @media screen and(max-width: 767px) {
      min-width: 148px
    }
  }

  &__checkbox {
    width: 100%;
    height: 100%;
    position: absolute;
    appearance: none;

    &::before {
      min-width: 36px;
      min-height: 20px;
      cursor: pointer;
      position: absolute;
      background-color: #3DDC84;
      border-radius: 20px;
      content: '';
      transition: .2s;
    }

    &:checked {
      &::before {
        background-color: #fff;
      }
    }

    &::after {
      min-width: 8px;
      min-height: 8px;
      cursor: pointer;
      position: absolute;
      background-color:  #fff;
      border-radius: 50%;
      top: 6px;
      left: 22px;
      content: '';
      transition: .2s;
    }

    &:checked {
      &::after {
        background-color: #3DDC84;
        transition: .2s;
        left: 6px;
      }
    }
  }

  &__checkbox-text {
    font-size: 12px;
    line-height: 18px;
    color: #fff;

    @media screen and(max-width: 767px) {
      font-size: 11px;
    }
  }

  &__err {
    color: #fff;
  }
}
