.movies-card-list {
  padding-top: 71px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 769px) {
    padding-top: 61px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    padding-top: 50px;
    min-width: 300px;
    gap: 20px;
  }

  &__button {
    margin: 21px 0 79px;
    padding: 0;
    min-width: 320px;
    min-height: 36px;
    align-self: center;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #2F2F2F;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    transition: .5s;

    @media screen and (max-width: 769px) {
      margin: 41px 0 76px;
    }

    @media screen and (max-width: 767px) {
      margin: 49px 0 159px;
      min-width: 240px;
    }

    &:hover {
      opacity: .8;
      transition: .5s;
    }
  }
}
