.promo {
  padding-bottom: 75px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 36px;
  color: #fff;
  background-image: url(../../images/web-logo.png);
  background-repeat: no-repeat;
  background-position: 90% 35%;
  background-color: #073042;

  @media screen and (max-width: 769px) {
    padding: 0 20px 76px;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border-radius: 10px;
    background-position: 50% 10%;
    background-size: 210px 206px;
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 17px;
    padding: 0 14px;
    gap: 22px;
  }

  @media screen and (max-width: 321px) {
    justify-content: center;
    background-position: 50% 5%;
  }

  &__title {
    margin: 75px 0 0 70px;
    max-width: 640px;
    text-align: left;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;

    @media screen and (max-width: 1023px) {
      margin: 320px auto 0;
      max-width: 680px;
      text-align: center;
      font-size: 40px;
      line-height: 52px;
    }

    @media screen and (max-width: 769px) {
      max-width: 680px;
      text-align: center;
      font-size: 40px;
      line-height: 52px;
    }

    @media screen and (max-width: 767px) {
      max-width: 292px;
      font-size: 29px;
      line-height: 37px;
    }
  }

  &__subtitle {
    margin: 0 0 0 70px;
    opacity: 0.5;

    @media screen and (max-width: 1023px) {
      margin: 0 auto;
      text-align: center;
    }

    @media screen and (max-width: 769px) {
      max-width: 680px;
      text-align: center;
    }
  }
}
