.not-found {
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-rows: 59.2vh min-content 1fr;
  grid-template-areas: 'title' 'text' 'back';

  @media screen and(max-width:769px) {
    grid-template-rows: 56.3vh min-content 1fr;
  }

  @media screen and(max-width:767px) {
    grid-template-rows: 58vh min-content 1fr;
  }

  &__title {
    margin: 0;
    grid-area: title;
    align-self: flex-end;
    color: #fff;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;

    @media screen and(max-width:767px) {
      font-size: 80px;
      line-height: 97px;
    }
  }

  &__text {
    margin: 5px 0 0;
    grid-area: text;
    color: #fff;
    font-size: 16px;
    line-height: 19px;

    @media screen and(max-width:767px) {
      margin: 9px 0 0;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__back {
    margin-top: 185px;
    align-self: flex-start;
    grid-area: back;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #4285F4;
    cursor: pointer;

    @media screen and(max-width:767px) {
      margin-top: 284px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
