%menu {
  margin-top: 10px;
  height: 3px;
  width: 28px;
  display: block;
  background-color: black;
  position: absolute;
  transition: transform .7s cubic-bezier(0.23, 1, 0.32, 1);

  @media screen and(max-width:767px) {
    width: 22px;
    height: 2.5px;
  }
}

.header {
  padding: 18px 70px 0 70px;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: 'main';
  align-items: center;
  background-color: #073042;

  @media screen and (max-width: 767px) {
    padding: 18px 14px;
  }

  &_for_auth {
    margin: 70px auto 40px;
    max-width: 396px;
    background-color: #202020;

    @media screen and (max-width: 769px) {
      margin: 232px auto 40px;
    }

    @media screen and (max-width: 769px) {
      margin: 56px auto 81px;
      display: flex;
      flex-direction: column;
    }
  }

  &_for_movies {
    background-color: #202020;

    @media screen and (max-width: 769px) {
      padding: 18px 30px 0 30px;
    }
  }

  &__title {
    margin: 40px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;

    @media screen and (max-width: 769px) {
      margin: 50px 0 0;
    }
  }

  &__auth-container {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 30px;
    grid-area: main;

    @media screen and (max-width: 767px) {
      gap: 14px;
    }
  }

  &__link {
    max-height: 16px;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: .5s;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      font-size: 10px;
      line-height: 16px;
    }

    &_type_green {
      min-height: 32px;
      min-width: 76px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      background-color: #2BE080;
      border-radius: 3px;

      @media screen and (max-width: 767px) {
        min-height: 26px;
        min-width: 54px;
      }

      &:hover {
        opacity: .8;
      }
    }

    &:hover {
      transition: .5s;
      opacity: .7;
    }
  }

  &__menu-container {
    margin-right: 8px;
    min-width: 28px;
    min-height: 22px;
    display: none;
    position: relative;
    grid-area: main;
    justify-self: flex-end;
    z-index: 12;

    @media screen and(max-width:768px) {
      margin-right: 9px;
      min-width: 22px;
      min-height: 21px;
      display: flex;
    }

    &_type_mobile {
      margin-right: -6px;

      @media screen and(max-width:767px) {
        margin: -17px 4px 0 0;
      }
    }
  }

  &__menu {
    @extend %menu;
    transition: .5s;
    background-color: #fff;

    &::after {
      @extend %menu;
      margin-top: -10px;
      content: '';
      background-color: #fff;

      @media screen and(max-width:767px) {
        margin-top: -9px;
      }
    }

    &::before {
      @extend %menu;
      margin-top: 10px;
      content: '';
      background-color: #fff;

      @media screen and(max-width:767px) {
        margin-top: 9px;
      }
    }

    &_active {
      background-color: #000;

      &::after {
        margin-top: 0;
        transform: rotate(-405deg);
      }

      &::before {
        margin-top: 0;
        transform: rotate(405deg);
      }
    }
  }
}
